.env
.env.backup
.env.production
build
database/database.sqlite
dist
compiled
.idea
hot
vendor
node_modules
npm-debug.log
yarn-error.log
.phpunit.cache/
.phpunit.result.cache
phpunit.xml.bak
tests/coverage/
tests/logs/
coverage/