.env
.env.backup
.env.production
.idea
.phpunit.cache/
.phpunit.result.cache
build
compiled
coverage/
database/database.sqlite
dist
hot
node_modules
npm-debug.log
phpunit.xml.bak
tests/coverage/
tests/logs/
vendor
yarn-error.log