/* Global Styles */
body {
  font-family: 'DM Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f7f6;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

h1, h2, h3 {
  color: #333;
  margin: 0.5em 0;
  transition: color 0.3s;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s;
}

a:hover {
  text-decoration: underline;
  color: #0056b3;
}

/* Container Styles */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header Styles */
header {
  background-color: #007bff;
  color: white;
  padding: 20px 0;
  text-align: center;
  border-bottom: 4px solid #0056b3;
  transition: background-color 0.3s;
}

header a {
  color: white;
}

header:hover {
  background-color: #0056b3;
}

/* Card Styles */
.card {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, transform 0.3s;
}

.card:hover {
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-5px);
}

.card h2 {
  margin-top: 0;
  cursor: pointer;
  transition: color 0.3s;
}

.card h2:hover {
  color: #007bff;
}

/* Mission and Donation Card Styles */
.mission-card, .donation-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-top: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s, transform 0.3s;
}

.mission-card:hover, .donation-card:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transform: translateY(-3px);
}

.mission-card h3, .donation-card p {
  margin: 0.5em 0;
}

/* Pagination Styles */
.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
}

.pagination button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
  background-color: #0056b3;
  transform: translateY(-2px);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .container {
    width: 100%;
    padding: 10px;
  }

  .card {
    padding: 15px;
  }

  button {
    padding: 8px 16px;
  }
}

/* Hover Styles */
h2:hover, h3:hover {
  color: #007bff;
}

/* Icons */
h2::before, h3::before {
  content: '🔹 ';
  color: #007bff;
  transition: transform 0.3s;
}

h2:hover::before, h3:hover::before {
  transform: rotate(360deg);
}
